.App{
    display: flex;
    align-items: center;
    justify-content:center;
    width:100%;
    max-width:1400px;

}
.hamberger{
    display: none;
}
.leftbar{
    flex:0 0 15rem;
    height:100vh;
    position:sticky;
    padding:1rem;
    z-index:50;
}
.pages{
    overflow-y: scroll;
    width:100%;
    height: 100vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 0rem 2rem;

}

.pages::-webkit-scrollbar {
    display: none;
}
.rightbar{

    flex:0 0 8rem;
    height:100vh;
    position:sticky;
    padding-top: 0rem;

}
footer{
    margin:2rem 0 1rem 0rem;
    color:var(--bg-light);
    padding:.1rem;
    color:white;
    padding-left:3rem;
}
.empty__span{
height:0rem;
}

@media only screen and (max-width: 1200px) {


    .leftbar{
        position:fixed;
        left:0rem;

}
.rightbar{

    position: fixed;
    height: 3rem;
    bottom: 1%;
    width: 100%;
    padding-top: .5rem;
    z-index: 40;
    flex:0 0 0;

}
.pages{


    padding: 0rem 0rem;

}
.hamberger{
    display: flex;
    position: fixed;
    top:1.5rem;
    left: 1rem;
    z-index: 60;
    background-color:var(--color-sec);
    color:white;
    border-radius:50%;
    border:none;
}

.empty__span{
    height:5rem;
    width:1rem;
    }

}